    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <h1>Authors</h1>
    <div id="table-of-authors" style="display: block">
        <h3><strong>List of authors:</strong></h3>
        <table id="authors-table">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th>delete</th>
                </t>
            </thead>
            <tbody>

        {{#each data}}
        <tr data-value="{{this.authorID}}">
            <td>{{this.authorID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.birthdate}}</td>
            <td>{{this.biography}}</td>
            <td><button onclick="deleteBook({{this.authorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <script src="./js/delete_author.js"></script>
    </div>
     <section id="add-author">
        <h2>Add New Author</h2>
        <form id="add-author-form" action="/add-author-form" method="POST">
            <label for="author-name">Author Name:</label>
            <input type="text" id="author-name" name="author-name" required>

            <label for="author-birthday">Author Birthday:</label>
            <input type="date" id="author-birthday" birthday="author-birthday" required>

            <label for="author-biography">Author Biography:</label>
            <textarea id="author-biography" biography="author-biography" rows="2" cols="50" required></textarea>

            <input type="submit" value="Add Author">
        </form>
    </section>
