<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Authors</h1>

<table id="author-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.authorID}}">
            <td>{{this.authorID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.birthdate}}</td>
            <td>{{this.biography}}</td>
            <td><button onclick="deleteAuthor({{this.authorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_author.js"></script>

<section id="add-author">
    <h2>Add New Author</h2>
    <form id="add-author-form" action="/add-author-form" method="POST">
        <label for="input-name">Author Name:</label>
        <input type="text" id="input-name" name="input-name" required>

        <label for="input-birthdate">Author Birthday:</label>
        <input type="date" id="input-birthdate" name="input-birthdate" required>

        <label for="input-biography">Author Biography:</label>
        <textarea id="input-biography" name="input-biography" rows="2" cols="50" required></textarea>

        <input type="submit" value="Add Author">
    </form>
</section>
