<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Books</h1>

<table id="book-table">

    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr data-value="{{this.isbn}}">
            <td>{{this.isbn}}</td>
            <td>{{this.title}}</td>
            <td>{{this.publicationYear}}</td>
            <td>{{this.copiesAvailable}}</td>
            <td>{{this.publisherID}}</td>
            <td><button onclick="deleteBook({{this.isbn}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_book.js"></script>

<h2>Add a Book</h2>
<p>To add a new book, please enter it's information below and click `Submit`!</p>
<form id="add-book-form" method="POST" action="/add-book-form">

    <label for="input-isbn">ISBN: </label>
    <input type="text" name="input-isbn" id="input-isbn">
    
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title">
    
    <label for="input-pubyear">Publication Year: </label>
    <input type="number" name="input-pubyear" id="input-pubyear">
    
    <label for="input-copies">Copies Available: </label>
    <input type="number" name="input-copies" id="input-copies">
    
    <label for="input-pubID">Publisher: </label>
    <select name="input-pubID" id="input-pubID">
        <option value="">Select a Publisher</option>
        {{#each publishers}}
        <option value="{{this.publisherID}}">{{this.publisherName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<h2>Search for a Book</h2>
<p>Search by Book Title using the field below. Partial titles are OK too!</p>
<form id="search-book-html" method='GET' action='/'>
    <label for="input-title">Search by Title: </label>
    <input type="text" name="title" id="input-title-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Update a Book</h2>
<p>To update a specific books's information select the book from the drop-down menu on the left and it's desired new information from the fields to the right of it</p>
<form id="update-book-form-ajax">

    <label for="input-isbn">Book: </label>
    <select name="input-isbn" id="mySelect">
        <option value="test">Select a Book</option>
        {{#each data}}
        <option value="{{this.isbn}}">{{this.title}}</option>
        {{/each}}
    </select>
    
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title-update">
    
    <label for="input-pubyear">Publication Year: </label>
    <input type="text" name="input-pubyear" id="input-pubyear-update">

    <label for="input-copies">Copies: </label>
    <input type="text" name="input-copies" id="input-copies-update">

    <label for="input-pubname">Publisher: </label>
    <select name="input-pubname" id="input-pubname-update">
        <option>Select a Publisher</option>
        {{#each publishers}}
        <option value="{{this.publisherName}}">{{this.publisherName}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_book.js"></script>