<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Books Genres</h1>

<table id="books-genres-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.assignmentID}}">
            <td>{{this.assignmentID}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.genreID}}</td>
            <td><button onclick="deleteBooksGenres('{{this.assignmentID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<script src="./js/delete_books_genres.js"></script>

<section id="add-books-genres">
    <h2>Add New Books Genres Relationship</h2>
    <form id="add-books-genres-form" action="/add-books-genres-form" method="POST">
        <label for="input-isbn">Book: </label>
        <select name="input-isbn" id="mySelect">
            <option>Select a Book</option>
            {{#each books}}
            <option value="{{this.isbn}}">{{this.title}}</option>
            {{/each}}
        </select>

        <select name="input-genreID" id="input-genreID">
            <option>Select an Genre</option>
            {{#each genres}}
            <option value="{{this.genreName}}">{{this.genreName}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Add Books_Genres">
    </form>
</section>