<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Books Users</h1>

<table id="books-users-table">
    <thead>
    <tr>
        {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
        {{/each}}
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr data-value="{{this.borrowingID}}">
            <td>{{this.borrowingID}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.userID}}</td>
            <td>{{this.dateBorrowed}}</td>
            <td>{{this.dueDate}}</td>
            <td><button onclick="deleteBooksUsers('{{this.borrowingID}}')">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<script src="./js/delete_books_users.js"></script>

<section id="add-books-users">
    <h2>Add New Books Users Relationship</h2>
    <form id="add-books-users-form" action="/add-books-users-form" method="POST">
        <label for="input-isbn">Book: </label>
        <select name="input-isbn" id="mySelect">
            <option>Select a Book</option>
            {{#each books}}
                <option value="{{this.isbn}}">{{this.title}}</option>
            {{/each}}
        </select>
        
        <label for="input-userID">User: </label>
        <select name="input-userID" id="input-userID">
            <option>Select a User</option>
            {{#each users}}
                <option value="{{this.userID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="input-dateBorrowed">Date Borrowed:</label>
        <input type="date" id="input-dateBorrowed" name="input-dateBorrowed" required>

        <label for="input-dueDate">Due Date:</label>
        <input type="date" id="input-dueDate" name="input-dueDate">

        <input type="submit" value="Add Books_Users">
    </form>
</section>
