<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Books Authors</h1>

<table id="books-authors-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.authorshipID}}">
            <td>{{this.authorshipID}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.authorID}}</td>
            <td><button onclick="deleteBooksAuthors('{{this.authorshipID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_books_authors.js"></script>

<section id="add-books-authors">
    <h2>Add New Books Authors Relationship</h2>
    <form id="add-books-authors-form" action="/add-books-authors-form" method="POST">
        <label for="input-isbn">Book: </label>
        <select name="input-isbn" id="mySelect">
            <option>Select a Book</option>
            {{#each books}}
            <option value="{{this.isbn}}">{{this.title}}</option>
            {{/each}}
        </select>

        <label for="input-authorID">Author: </label>
        <select name="input-authorID" id="input-authorID">
            <option>Select an Author</option>
            {{#each authors}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Add Books_Authors">
    </form>
</section>
