<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Genres</h1>

<table id="genre-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.genreID}}">
            <td>{{this.genreID}}</td>
            <td>{{this.genreName}}</td>
            <td><button onclick="deleteGenre('{{this.genreID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_genre.js"></script>

<section id="add-genre">
    <h2>Add New Genre</h2>
    <form id="add-genre-form" action="/add-genre-form" method="POST">
        <label for="input-name">Genre Name:</label>
        <input type="text" id="input-name" name="input-name" required>

        <input type="submit" value="Add Genre">
    </form>
</section>