<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Publishers</h1>

<table id="publisher-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.publisherID}}">
            <td>{{this.publisherID}}</td>
            <td>{{this.publisherName}}</td>
            <td><button onclick="deletePublisher('{{this.publisherID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_publisher.js"></script>

<section id="add-publisher">
    <h2>Add New Publisher</h2>
    <form id="add-publisher-form" action="/add-publisher-form" method="POST">
        <label for="input-name">Publisher Name:</label>
        <input type="text" id="input-publisherName" name="input-publisherName" required>
        <input type="submit" value="Add Publisher">
    </form>
</section>