<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Reviews</h1>

<table id="review-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.reviewID}}">
            <td>{{this.reviewID}}</td>
            <td>{{this.userID}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.reviewText}}</td>
            <td><button onclick="deleteReview('{{this.reviewID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_review.js"></script>

<section id="add-review">
    <h2>Add New Review</h2>
    <form id="add-review-form" action="/add-review-form" method="POST">

        <label for="input-userID">User ID:</label>
        <input id="input-userID" name="input-userID"></input>

        <label for="input-isbn">ISBN:</label>
        <input id="input-isbn" name="input-isbn"></input>

        <label for="input-rating">Review Rating:</label>
        <input type="number" min="0" max="10" id="input-rating" name="input-rating" ></input>

        <label for="input-reviewText">Review Text:</label>
        <textarea id="input-reviewText" name="input-reviewText" rows="2" cols="50"></textarea>

        <input type="submit" value="Add Reveiw">
    </form>
</section>
