<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Reviews</h1>

<table id="review-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.reviewID}}">
            <td>{{this.reviewID}}</td>
            <td>{{this.userID}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.reviewText}}</td>
            <td><button onclick="deleteReview('{{this.reviewID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_review.js"></script>

<section id="add-review">
    <h2>Add New Review</h2>
    <form id="add-review-form" action="/add-review-form" method="POST">

       <label for="input-userID">User: </label>
        <select name="input-userID" id="input-userID">
            <option>Select a User</option>
            {{#each users}}
                <option value="{{this.userID}}">{{this.name}}</option>
            {{/each}}
        </select>

       <label for="input-isbn">Book: </label>
        <select name="input-isbn" id="mySelect">
            <option>Select a Book</option>
            {{#each books}}
            <option value="{{this.isbn}}">{{this.title}}</option>
            {{/each}}
        </select>

        <label for="input-rating">Review Rating:</label>
        <input type="number" min="0" max="10" id="input-rating" name="input-rating" ></input>

        <label for="input-reviewText">Review Text:</label>
        <textarea id="input-reviewText" name="input-reviewText" rows="2" cols="50"></textarea>

        <input type="submit" value="Add Review">
    </form>
</section>
